*.log
*.swp
*.swo

*secret*
*hist*
*viminfo*
*compdump*

*password*
*export*
.bashrc
**/__pycache__/**
.local/share/ulauncher/app_stat_v2.db
.local/share/ulauncher/extensions/com.github.pywkm.ulauncher-spotify/__pycache__
