[Desktop Entry]
Type=Application
Exec=plank
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en]=plank
Name=plank
Comment[en]=Plank
Comment=Plank
